@import "tailwindcss";

.dropdown {
  position: relative;
  display: block;
}

.dropdown-content {
  background-color: #11c9aad1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}


.gb_card:hover {
  transform: translateY(-0px) scale(1.14);
}