@import "tailwindcss";

.gb_dropdown {
  position: relative;
  display: block;
}

.gb_dropdown_content {
  background-color: rgba(255, 255, 255, 0.1);
  min-width: 160px;
  /*box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);*/
  z-index: 1;
}


.gb_card:hover {
  transform: translateY(-0px) scale(1.14);
}

.gb_traslucent {
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  --webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.gb_dataProduct::-webkit-scrollbar {
  width: 10px;
}

.gb_dataProduct::-webkit-scrollbar-track:hover {
  background-color: rgba(255, 255, 255, 0.33);
  border-radius: 3px;
}
.gb_dataProduct::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 3px;
  border: 1px solid rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(5px);
  --webkit-backdrop-filter: blur(5px);
}

.gb_dataProduct::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, .8);
  border-radius: 3px;
  height: 40px;
}